.main-div {
  max-width: 40%;
  margin: auto auto;
}

.inpt-field {
  width: 100% !important;
}

.inputIcon {
  color: black;
  top: 0.9rem !important;
}

.errmsg {
  color: red;
}

.black-text {
  color: #26a69a !important;
  font-family: initial !important;
}

.head-main {
  margin: auto !important;
  width: 100% !important;

  text-align: center !important;
  font-size: 26px;

  height: auto !important;

  //background-color: #26a69a !important;
  font-style: inherit;
}
